.btn-add {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(187, 187, 187);
    padding: 8px;
    border-radius: 10px;
}